.container{
  padding: 50px;
}






/* draggable  */

#draggable { width: 150px; height: 150px; padding: 0.5em; }

/* dropable  */

#droppable { width: 200px; height: 200px; padding: 0.5em; float: left; margin: 10px; }


 
#resizable { width: 150px; height: 150px; padding: 0.5em; }
#resizable h3 { text-align: center; margin: 0; background-color: red; color: white; }




#feedback { font-size: 12px; }
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #eb0c1f; color: white; }
#selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; }



#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; }
  #sortable li span { position: absolute; margin-left: -1.3em; }


/* show effect  */
.toggler { width: 500px; height: 200px; }
  #button { padding: .5em 1em; text-decoration: none; }
  #effect { width: 240px; height: 170px; padding: 0.4em; position: relative; }
  #effect h3 { margin: 0; padding: 0.4em; text-align: center; }